<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
    <title>Ela - 云辰自動化測試系統</title>

    <link
      href="/templates/css/lib/chartist/chartist.min.css"
      rel="stylesheet"
    />
    <link href="/templates/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="/templates/css/lib/owl.theme.default.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/templates/css/lib/bootstrap/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="/templates/css/helper.css" rel="stylesheet" />
    <link href="/templates/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
      <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
    .form-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .form-group {
      display: flex;
      align-items: center;
      gap: 60%;
      flex: 1 1 calc(50% - 50px);
      min-width: 10px;
    }

    .form-group label {
      width: 50px;
      margin: 0;
    }

    .form-group input {
      flex: 1;
      min-width: 0;
      text-align: right;
    }

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .spinner-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    .disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  </style>
  <body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle
          class="path"
          cx="50"
          cy="50"
          r="20"
          fill="none"
          stroke-width="2"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
      <!-- header header  -->
      <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- Logo -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/templates/index.html">
              <!-- Logo icon -->
              <b
                ><img
                  src="/templates/images/logo.png"
                  alt="homepage"
                  class="dark-logo"
              /></b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span
                ><img
                  src="/templates/images/logo-text.png"
                  alt="homepage"
                  class="dark-logo"
              /></span>
            </a>
          </div>
          <!-- End Logo -->
          <div class="navbar-collapse">
            <!-- toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">
              <!-- This is  -->
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up text-muted"
                  href="javascript:void(0)"
                  ><i class="mdi mdi-menu"></i
                ></a>
              </li>
              <li class="nav-item m-l-10">
                <a
                  class="nav-link sidebartoggler hidden-sm-down text-muted"
                  href="javascript:void(0)"
                  ><i class="ti-menu"></i
                ></a>
              </li>
            </ul>
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">
              <!-- Search -->
              <!--           <li class="nav-item hidden-sm-down search-box">
                <a
                  class="nav-link hidden-sm-down text-muted"
                  href="javascript:void(0)"
                  ><i class="ti-search"></i
                ></a>
                <form class="app-search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search here"
                  />
                  <a class="srh-btn"><i class="ti-close"></i></a>
                </form>
              </li> -->

              <!-- Profile -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text-muted"
                  href="#"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><img
                    src="/templates/images/users/5.jpg"
                    alt="user"
                    class="profile-pic"
                /></a>
                <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                  <ul class="dropdown-user">
                    <li>
                      <a href="#"><i class="ti-user"></i> Profile</a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-wallet"></i> Balance</a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-email"></i> Inbox</a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-settings"></i> Setting</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Home</li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-tachometer"></i
                  ><span class="hide-menu">儀表板 </span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="/templates/index.html">所有裝置</a></li>
                </ul>
              </li>
              <li class="nav-label">Apps</li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-envelope"></i
                  ><span class="hide-menu">設備測試</span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="/templates/email-compose.html">設備控制</a></li>
                  <li><a href="/templates/sb_server.html">SB_Server</a></li>
                </ul>
              </li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-bar-chart"></i
                  ><span class="hide-menu">法規自動化</span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="/templates/chart-flot.html">IEC63180-2020</a>
                  </li>
                  <li>
                    <a href="/templates/chart-morris.html">NEMA WD7-2011</a>
                  </li>
                  <li>
                    <a href="/templates/chart-chartjs.html">EN50131-2-2-2017</a>
                  </li>
                  <li>
                    <a href="/templates/chart-chartist.html"
                      >EN50131-2-4-2020</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </div>
      <!-- End Left Sidebar  -->
      <!-- Page wrapper  -->
    </div>
    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-primary">儀表板/所有裝置</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">APPS</a>
            </li>
            <li class="breadcrumb-item active">法規自動化</li>
          </ol>
        </div>
      </div>
      <!-- End Bread crumb -->

      <!-- Container fluid  -->
      <div class="container-fluid">
        <div id="spinner-overlay" class="spinner-overlay" style="display: none">
          <div class="spinner"></div>
        </div>
        <!-- Start Page Content -->
        <div class="row">
          <div class="col-md-3">
            <div class="card p-30">
              <h2>DUT手臂</h2>
              <div class="card-body">
                <form onsubmit="dut_server(event)">
                  <div class="row">
                    <label for="servo_1" class="col-sm-3 control-label"
                      >Servo_1</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_1"
                        name="check_servo_1"
                      />
                      <input
                        type="number"
                        id="servo_1"
                        name="servo_1"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>
                  <div class="row">
                    <label for="servo_2" class="col-sm-3 control-label"
                      >Servo_2</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_2"
                        name="check_servo_2"
                      />
                      <input
                        type="number"
                        id="servo_2"
                        name="servo_2"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>
                  <div class="row">
                    <label for="servo_3" class="col-sm-3 control-label"
                      >Servo_3</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_3"
                        name="check_servo_3"
                      />
                      <input
                        type="number"
                        id="servo_3"
                        name="servo_3"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>

                  <div class="row">
                    <label for="servo_4" class="col-sm-3 control-label"
                      >Servo_4</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_4"
                        name="check_servo_4"
                      />
                      <input
                        type="number"
                        id="servo_4"
                        name="servo_4"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>

                  <div class="row">
                    <label for="servo_5" class="col-sm-3 control-label"
                      >Servo_5</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_5"
                        name="check_servo_5"
                      />
                      <input
                        type="number"
                        id="servo_5"
                        name="servo_5"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>

                  <div class="row">
                    <label for="servo_6" class="col-sm-3 control-label"
                      >Servo_6</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="checkbox"
                        id="check_servo_6"
                        name="check_servo_6"
                      />
                      <input
                        type="number"
                        id="servo_6"
                        name="servo_6"
                        min="0"
                        max="180"
                        required
                      /><br />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-30">
              <h2>ARM手臂</h2>
              <div class="card-body">
                <div class="input-states">
                  <form onsubmit="arm_server(event)">
                    <div class="row">
                      <label for="arm_servo_1" class="col-sm-3 control-label"
                        >Servo_1</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_1"
                          name="check_arm_servo_1"
                        />
                        <input
                          type="number"
                          id="arm_servo_1"
                          name="arm_servo_1"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>
                    <div class="row">
                      <label for="arm_servo_2" class="col-sm-3 control-label"
                        >Servo_2</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_2"
                          name="check_arm_servo_2"
                        />
                        <input
                          type="number"
                          id="arm_servo_2"
                          name="arm_servo_2"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>
                    <div class="row">
                      <label for="arm_servo_3" class="col-sm-3 control-label"
                        >Servo_3</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_3"
                          name="check_arm_servo_3"
                        />
                        <input
                          type="number"
                          id="arm_servo_3"
                          name="arm_servo_3"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>

                    <div class="row">
                      <label for="arm_servo_4" class="col-sm-3 control-label"
                        >Servo_4</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_4"
                          name="check_arm_servo_4"
                        />
                        <input
                          type="number"
                          id="arm_servo_4"
                          name="arm_servo_4"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>

                    <div class="row">
                      <label for="arm_servo_5" class="col-sm-3 control-label"
                        >Servo_5</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_5"
                          name="check_arm_servo_5"
                        />
                        <input
                          type="number"
                          id="arm_servo_5"
                          name="arm_servo_5"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>

                    <div class="row">
                      <label for="arm_servo_6" class="col-sm-3 control-label"
                        >Servo_6</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="checkbox"
                          id="check_arm_servo_6"
                          name="check_arm_servo_6"
                        />
                        <input
                          type="number"
                          id="arm_servo_6"
                          name="arm_servo_6"
                          min="0"
                          max="180"
                          required
                        /><br />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="card p-30">
            <h2>STEP馬達</h2>
            <div class="input-states">
              <form onsubmit="sendData(event)">
                <div class="row">
                  <label for="real_position" class="col-sm-3 control-label"
                    >Postion from origin</label
                  >
                  <input
                    type="text"
                    id="real_position"
                    name="real_position"
                    min="0"
                    max="6"
                    required
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-30">
              <h2>UNET DONGLE</h2>
              <div class="input-states">
                <input
                  id="ON"
                  type="radio"
                  name="check_unet"
                  value="ON"
                  required
                />
                <label for="ON">ON</label>
                <input
                  id="OFF"
                  type="radio"
                  name="check_unet"
                  value="OFF"
                  required
                />
                <label for="OFF">OFF</label>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <div class="card p-30">
              <h2>溫度與濕度區間</h2>
              <div class="row">
                <div class="form-container">
                  <div class="form-group">
                    <label for="temperature-max">溫度 - 最大值</label>
                    <input
                      type="number"
                      id="temperature-max"
                      name="temperature-max"
                      step="0.1"
                    />
                  </div>

                  <div class="form-group">
                    <label for="temperature-min">溫度 - 最小值</label>
                    <input
                      type="number"
                      id="temperature-min"
                      name="temperature-min"
                      step="0.1"
                    />
                  </div>

                  <div class="form-group">
                    <label for="humidity-max">濕度 - 最大值</label>
                    <input
                      type="number"
                      id="humidity-max"
                      name="humidity-max"
                      step="0.1"
                    />
                  </div>

                  <div class="form-group">
                    <label for="humidity-min">濕度 - 最小值</label>
                    <input
                      type="number"
                      id="humidity-min"
                      name="humidity-min"
                      step="0.1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-30">
                <h2>溫度與濕度區間</h2>
                <div class="row"></div>
              </div>
            </div>
          </div>
          <!-- End PAge Content -->
        </div>
        <p id="status">Waiting</p>
        <button id="start-button" onclick="startChecking()">通訊確認</button>
        <button id="submitButton" onclick="Test_data(event)" disabled>
          送出
        </button>
        <!-- End Container fluid  -->
        <!-- footer -->
        <!-- End footer -->
      </div>
      <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/templates/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/templates/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/templates/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/templates/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/templates/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/templates/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script>
      const checkboxes = document.querySelectorAll("input[type='checkbox']");
      const numberInputs = document.querySelectorAll("input[type='number']");
      const textInputs = document.querySelectorAll("input[type='text']");
      const radioInputs = document.querySelectorAll("input[type='radio']");
      let start_checking_flag = false;
      function validateForm() {
        let allNumberInputsFilled = Array.from(numberInputs).every(
          (input) => input.value.trim() !== ""
        );
        let allTextInputsFilled = Array.from(textInputs).every(
          (input) => input.value.trim() !== ""
        );
        let atLeastOneRadioChecked = Array.from(radioInputs).some(
          (radio) => radio.checked
        );

        // Check min and max values
        const temperatureMin = parseFloat(
          document.getElementById("temperature-min").value
        );
        const temperatureMax = parseFloat(
          document.getElementById("temperature-max").value
        );
        const humidityMin = parseFloat(
          document.getElementById("humidity-min").value
        );
        const humidityMax = parseFloat(
          document.getElementById("humidity-max").value
        );

        const isTemperatureValid =
          isNaN(temperatureMin) ||
          isNaN(temperatureMax) ||
          temperatureMin <= temperatureMax;
        const isHumidityValid =
          isNaN(humidityMin) ||
          isNaN(humidityMax) ||
          humidityMin <= humidityMax;

        // Display error if values are invalid
        if (!isTemperatureValid || !isHumidityValid) {
          alert("溫度和濕度的最小值不能大於最大值。");
        }

        submitButton.disabled = !(
          allNumberInputsFilled &&
          allTextInputsFilled &&
          atLeastOneRadioChecked &&
          isTemperatureValid &&
          isHumidityValid &&
          start_checking_flag
        );
      }

      // Add event listeners to all relevant inputs
      numberInputs.forEach((input) =>
        input.addEventListener("input", validateForm)
      );
      textInputs.forEach((input) =>
        input.addEventListener("input", validateForm)
      );
      radioInputs.forEach((radio) =>
        radio.addEventListener("change", validateForm)
      );

      // Initial validation check
      validateForm();

      async function Test_data(event) {
        event.preventDefault();

        var spinnerOverlay = document.getElementById("spinner-overlay");
        var buttons = document.querySelectorAll("button");

        spinnerOverlay.style.display = "flex";
        buttons.forEach((button) => button.classList.add("disabled"));
        // 獲取所有表單數據
        const formData = new FormData();

        document
          .querySelectorAll("input[type='number'], input[type='text']")
          .forEach((input) => {
            formData.append(input.name, input.value);
          });
        document
          .querySelectorAll("input[type='checkbox']")
          .forEach((checkbox) => {
            formData.append(checkbox.name, checkbox.checked);
          });
        document
          .querySelectorAll("input[type='radio']:checked")
          .forEach((radio) => {
            formData.append(radio.name, radio.value);
          });
        // 將表單數據轉換為JSON對象
        const data = Object.fromEntries(formData.entries());

        // 發送AJAX請求到服務器
        try {
          const response = await fetch("/test_data", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
          if (response.ok) {
            setTimeout(function () {
              spinnerOverlay.style.display = "none";
              buttons.forEach((button) => button.classList.remove("disabled"));
            });
            window.location.href = "/templates/test.html";
            // 成功後導航到下一頁面
          } else {
            console.error("Failed to submit data");
          }
        } catch (error) {
          console.error("Error:", error);
        }
      }

      async function startChecking() {
        const checkInterval = 5000; // Check every 5 seconds
        var spinnerOverlay = document.getElementById("spinner-overlay");
        var buttons = document.querySelectorAll("button");
        spinnerOverlay.style.display = "flex";
        buttons.forEach((button) => button.classList.add("disabled"));
        let intervalId = setInterval(async () => {
          try {
            let response = await fetch("/check_connections");
            let data = await response.json();
            let statusText = "";
            let allConnected = true;

            for (let [server, status] of Object.entries(data)) {
              if (status === "Not connected") {
                statusText += `${server} is not connected.\n`;
                allConnected = false;
              }
            }

            if (allConnected) {
              clearInterval(intervalId);
              start_checking_flag = true;
              validateForm();
              setTimeout(function () {
                spinnerOverlay.style.display = "none";
                buttons.forEach((button) =>
                  button.classList.remove("disabled")
                );
              });
              document.getElementById("status").textContent =
                "All servers are connected.";
            } else {
              setTimeout(function () {
                spinnerOverlay.style.display = "none";
                buttons.forEach((button) =>
                  button.classList.remove("disabled")
                );
              });
              document.getElementById("status").textContent =
                statusText ||
                "Some servers are not connected. Please check the IPs.";
            }
          } catch (error) {
            setTimeout(function () {
              spinnerOverlay.style.display = "none";
              buttons.forEach((button) => button.classList.remove("disabled"));
            });
            console.error("Error checking connections:", error);
            document.getElementById("status").textContent =
              "Error checking connections.";
          }
        }, checkInterval);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/templates/js/lib/datamap/d3.min.js"></script>
    <script src="/templates/js/lib/datamap/topojson.js"></script>
    <script src="/templates/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="/templates/js/lib/datamap/datamap-init.js"></script>

    <script src="/templates/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/templates/js/lib/weather/weather-init.js"></script>
    <script src="/templates/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/templates/js/lib/owl-carousel/owl.carousel-init.js"></script>

    <script src="/templates/js/lib/chartist/chartist.min.js"></script>
    <script src="/templates/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="/templates/js/lib/chartist/chartist-init.js"></script>
    <!--Custom JavaScript -->
    <script src="/templates/js/custom.min.js"></script>
  </body>
</html>
