<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="panel">
      <h1>dut_server_controll</h1>
      <label for="servo_1">Servo 1:</label>
      <input
        type="number"
        id="servo_1"
        name="servo_1"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_1" name="check_servo_1" />
      <br />
      <label for="servo_2">Servo 2:</label>
      <input
        type="number"
        id="servo_2"
        name="servo_2"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_2" name="check_servo_2" />
      <br />
      <label for="servo_3">Servo 3:</label>
      <input
        type="number"
        id="servo_3"
        name="servo_3"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_3" name="check_servo_3" />
      <br />
      <label for="servo_4">Servo 4:</label>
      <input
        type="number"
        id="servo_4"
        name="servo_4"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_4" name="check_servo_4" />
      <br />
      <label for="servo_5">Servo 5:</label>
      <input
        type="number"
        id="servo_5"
        name="servo_5"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_5" name="check_servo_5" />
      <br />
      <label for="servo_6">Servo 6:</label>
      <input
        type="number"
        id="servo_6"
        name="servo_6"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_servo_6" name="check_servo_6" />
      <br />
    </div>

    <div class="panel">
      <h1>arm_server_controll</h1>
      <label for="arm_servo_1">Servo 1:</label>
      <input
        type="number"
        id="arm_servo_1"
        name="arm_servo_1"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_1" name="check_arm_servo_1" />
      <br />
      <label for="arm_servo_2">Servo 2:</label>
      <input
        type="number"
        id="arm_servo_2"
        name="arm_servo_2"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_2" name="check_arm_servo_2" />
      <br />
      <label for="arm_servo_3">Servo 3:</label>
      <input
        type="number"
        id="arm_servo_3"
        name="arm_servo_3"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_3" name="check_arm_servo_3" />
      <br />
      <label for="arm_servo_4">Servo 4:</label>
      <input
        type="number"
        id="arm_servo_4"
        name="arm_servo_4"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_4" name="check_arm_servo_4" />
      <br />
      <label for="arm_servo_5">Servo 5:</label>
      <input
        type="number"
        id="arm_servo_5"
        name="arm_servo_5"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_5" name="check_arm_servo_5" />
      <br />
      <label for="arm_servo_6">Servo 6:</label>
      <input
        type="number"
        id="arm_servo_6"
        name="arm_servo_6"
        min="0"
        max="180"
        required
      />
      <input type="checkbox" id="check_arm_servo_6" name="check_arm_servo_6" />
      <br />
    </div>

    <div class="panel">
      <h1>step_server_controll</h1>

      <label for="real_position">移動至距離原點:</label>
      <input
        type="text"
        id="real_position"
        name="real_position"
        min="0"
        max="6"
        required
      />
    </div>

    <h1>unet_server_controll</h1>

    <input id="ON" type="radio" name="check_unet" value="ON" required />
    <label for="ON">ON</label>
    <input id="OFF" type="radio" name="check_unet" value="OFF" required />
    <label for="OFF">OFF</label>

    <br />

    <h1>選擇Excel檔案</h1>
    <form id="dataForm" onsubmit="Test_data(event)">
      <label for="file">選擇檔案:</label>
      <select name="file" id="file" required>
        <option value="" disabled selected>請選擇一個檔案</option>
        {% for file in files %}
        <option value="{{ file }}">{{ file }}</option>
        {% endfor %}
      </select>
    </form>
    <button id="submitButton" onclick="Test_data(event)" disabled>送出</button>
    <script>
      const checkboxes = document.querySelectorAll("input[type='checkbox']");
      const numberInputs = document.querySelectorAll("input[type='number']");
      const textInputs = document.querySelectorAll("input[type='text']");
      const radioInputs = document.querySelectorAll("input[type='radio']");
      const fileSelect = document.getElementById("file");
      const submitButton = document.getElementById("submitButton");

      function validateForm() {
        let allNumberInputsFilled = Array.from(numberInputs).every(
          (input) => input.value.trim() !== ""
        );
        let allTextInputsFilled = Array.from(textInputs).every(
          (input) => input.value.trim() !== ""
        );
        let atLeastOneRadioChecked = Array.from(radioInputs).some(
          (radio) => radio.checked
        );
        let fileSelected = fileSelect.value.trim() !== "";

        submitButton.disabled = !(
          allNumberInputsFilled &&
          allTextInputsFilled &&
          atLeastOneRadioChecked &&
          fileSelected
        );
      }

      // Add event listeners to all relevant inputs
      numberInputs.forEach((input) =>
        input.addEventListener("input", validateForm)
      );
      textInputs.forEach((input) =>
        input.addEventListener("input", validateForm)
      );
      radioInputs.forEach((radio) =>
        radio.addEventListener("change", validateForm)
      );
      fileSelect.addEventListener("change", validateForm);

      // Initial validation check
      validateForm();

      async function Test_data(event) {
        event.preventDefault();

        // 获取所有表单数据
        const formData = new FormData();
        const fileInput = document.querySelector("#file");

        if (fileInput && fileInput.value) {
          formData.append("file", fileInput.value); // 发送选择的文件名
        }
        document
          .querySelectorAll("input[type='number'], input[type='text']")
          .forEach((input) => {
            formData.append(input.name, input.value);
          });
        document
          .querySelectorAll("input[type='checkbox']")
          .forEach((checkbox) => {
            formData.append(checkbox.name, checkbox.checked);
          });
        document
          .querySelectorAll("input[type='radio']:checked")
          .forEach((radio) => {
            formData.append(radio.name, radio.value);
          });
        // 将表单数据转换为JSON对象
        const data = Object.fromEntries(formData.entries());

        // 发送AJAX请求到服务器
        try {
          const response = await fetch("/test_data", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
          window.location.href = "/test";
          if (response.ok) {
            // 成功后导航到下一页面
          } else {
            console.error("Failed to submit data");
          }
        } catch (error) {
          console.error("Error:", error);
        }
      }
    </script>
  </body>
</html>
