<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
    <title>Ela - 云辰自動化測試系統</title>

    <link
      href="/templates/css/lib/chartist/chartist.min.css"
      rel="stylesheet"
    />
    <link href="/templates/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="/templates/css/lib/owl.theme.default.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/templates/css/lib/bootstrap/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="/templates/css/helper.css" rel="stylesheet" />
    <link href="/templates/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
      <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>

#log {
  height: 300px; /* 自定义高度 */
  overflow-y: auto;
  border: 1px solid #ccc;
}
    .btn {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      color: white;
      cursor: pointer;
    }
    .start-btn {
      background-color: blue;
    }
    .pause-btn {
      background-color: blue;
    }
    .default-color {
      background-color: gray;
      cursor: not-allowed;
    }
    .changed-color {
      background-color: blue;
    }

    .enabled {
      cursor: pointer;
    }
    .disabled {
      cursor: not-allowed;
    }

    .dropdown-menu {
      display: none; /* Hide the dropdown menu initially */
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
    }

    .highlight-purple {
      color: purple; /* 紫色字體 */
    }

    .highlight-red {
      color: red; /* 紅色字體 */
    }

    .highlight-green {
      color: green; /* 綠色字體 */
    }
  </style>
  <body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle
          class="path"
          cx="50"
          cy="50"
          r="20"
          fill="none"
          stroke-width="2"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
      <!-- header header  -->
      <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- Logo -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/templates/index.html">
              <!-- Logo icon -->
              <b
                ><img
                  src="/templates/images/logo.png"
                  alt="homepage"
                  class="dark-logo"
              /></b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span
                ><img
                  src="/templates/images/logo-text.png"
                  alt="homepage"
                  class="dark-logo"
              /></span>
            </a>
          </div>
          <!-- End Logo -->
          <div class="navbar-collapse">
            <!-- toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">
              <!-- This is  -->
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up text-muted"
                  href="javascript:void(0)"
                  ><i class="mdi mdi-menu"></i
                ></a>
              </li>
              <li class="nav-item m-l-10">
                <a
                  class="nav-link sidebartoggler hidden-sm-down text-muted"
                  href="javascript:void(0)"
                  ><i class="ti-menu"></i
                ></a>
              </li>
            </ul>
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">
              <!-- Search -->
              <!-- Profile -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted"
                  ><img
                    src="/templates/images/users/5.jpg"
                    alt="user"
                    class="profile-pic"
                /></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <!-- Left Sidebar  -->
      <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Home</li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-tachometer"></i
                  ><span class="hide-menu">儀表板 </span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="/templates/index.html">所有裝置</a></li>
                </ul>
              </li>
              <li class="nav-label">Apps</li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-envelope"></i
                  ><span class="hide-menu">設備測試</span></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="/templates/email-compose.html">設備控制</a></li>
                </ul>
              </li>
              <li>
                <a class="has-arrow" href="#" aria-expanded="false"
                  ><i class="fa fa-bar-chart" style="color: #0072e3"></i
                  ><span class="hide-menu" style="color: #0072e3"
                    >法規自動化</span
                  ></a
                >
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="/templates/chart-flot.html" style="color: #0072e3"
                      >IEC63180-2020</a
                    >
                  </li>
                  <li>
                    <a href="/templates/chart-morris.html">NEMA WD7-2011</a>
                  </li>
                  <li>
                    <a href="/templates/chart-chartjs.html">EN50131-2-2-2017</a>
                  </li>
                  <li>
                    <a href="/templates/chart-chartist.html"
                      >EN50131-2-4-2020</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </div>
      <!-- End Left Sidebar  -->
      <!-- Page wrapper  -->
      <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">儀表板/所有裝置</h3>
          </div>
          <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">APPS</a>
              </li>
              <li class="breadcrumb-item active">法規自動化</li>
            </ol>
          </div>
        </div>

        <li class="nav-item dropdown mega-dropdown">
          <a
            class="nav-link dropdown-toggle text-muted"
            href="#"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-th-large">log</i></a
          >
          <div class="dropdown-menu animated zoomIn">
            <div class="dropdown-header">
              <span id="closePopup" class="close">&times;</span>
            </div>
            <ul class="mega-dropdown-menu row">
              <li class="col-lg-3 m-b-30">
                <h4 class="m-b-20">操作日誌</h4>
                <!-- Contact -->
                <div id="log">
                  <p>時間 裝置 指令 狀態 操作者</p>
                </div>
                <div class="button-container">
                  <button onclick="downloadLog()">下載記錄</button>
                  <button onclick="clearLog()">清除</button>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <!-- End Bread crumb -->
        <h2>所有狀態</h2>
        <!-- Container fluid  -->

        <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
            <div class="col-md-3">
              <div class="card p-30">
                <h2>DUT手臂</h2>
                  <div class="input-states">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="received-servo_1" class="col-sm-6 control-label">Servo_1</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_1" readonly class="form-control"  style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-servo_2" class="col-sm-6 control-label">Servo_2</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_2" readonly class="form-control"  style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-servo_3" class="col-sm-6 control-label">Servo_3</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_3" readonly class="form-control"  style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-servo_4" class="col-sm-6 control-label">Servo_4</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_4" readonly class="form-control"  style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-servo_5" class="col-sm-6 control-label">Servo_5</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_5" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-servo_6" class="col-sm-6 control-label">Servo_6</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-servo_6" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-temperature" class="col-sm-6 control-label"
                          >Temperature</label
                        >
                        <div class="col-sm-6">
                          <input type="text" id="received-temperature" readonly class="form-control"  style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-humidity" class="col-sm-6 control-label">Humidity</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" id="received-humidity" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-detect" class="col-sm-6 control-label">Detection</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" id="received-detect" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-set_servo" class="col-sm-6 control-label"
                          >Communication</label
                        >
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" id="received-set_servo" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-ip_address" class="col-sm-6 control-label">IP address</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" id="received-ip_address" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-time" class="col-sm-6 control-label"
                          >Update time</label
                        >
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" id="received-time" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-30">
                <h2>ARM手臂</h2>
                <div class="card-body">
                  <div class="input-states">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="received-arm_servo_1" class="col-sm-6 control-label">Servo_1</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_1" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_servo_2" class="col-sm-6 control-label">Servo_2</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_2" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_servo_3" class="col-sm-6 control-label">Servo_3</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_3" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-arm_servo_4" class="col-sm-6 control-label">Servo_4</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_4" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-arm_servo_5" class="col-sm-6 control-label">Servo_5</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_5" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-arm_servo_6" class="col-sm-6 control-label">Servo_6</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_servo_6" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="received-arm_temperature" class="col-sm-6 control-label"
                          >Temperature</label
                        >
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_temperature" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_humidity" class="col-sm-6 control-label">Humidity</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_humidity" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_detect" class="col-sm-6 control-label">Detection</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_detect" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_set_servo" class="col-sm-6 control-label"
                          >Communication</label
                        >
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_set_servo" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_ip_address" class="col-sm-6 control-label">IP address</label>
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_ip_address" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="received-arm_time" class="col-sm-6 control-label"
                          >Update time</label
                        >
                        <div class="col-sm-6">
                          <input type="text" id="received-arm_time" readonly class="form-control" style="text-align: right; background-color: #ffffff;"><br>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-30">
                <h2>SB馬達</h2>
                <div class="input-states">
                  <form class="form-horizontal">

                    <div class="row">
                      <label
                        for="received-target_distance"
                        class="col-sm-6 control-label"
                        >target_distance</label
                      >
                      <div class="col-sm-6">
                        <input
                          type="number"
                          id="received-target_distance"
                          readonly
                          min="0"
                          class="form-control"
                          style="background-color: #ffffff"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <label
                        for="received-direction"
                        class="col-sm-6 control-label"
                        >direction</label
                      >
                      <div class="col-sm-6">
                        <input
                          type="text"
                          id="received-direction"
                          readonly
                          min="0"
                          class="form-control"
                          style="background-color: #ffffff"
                        />
                      </div>
                    </div>



                    <div class="form-group row">
                      <label for="received-sb_time" class="col-sm-6 control-label"
                        >更新時間</label
                      >
                      <div class="col-sm-6">
                        <input type="text" id="received-sb_time" class="form-control" readonly style="background-color: #ffffff;"><br>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="received-sb_ip" class="col-sm-6 control-label"
                        >IP 位置:</label
                      >
                      <div class="col-sm-6">
                        <input type="text" id="received-sb_ip" class="form-control" readonly style="background-color: #ffffff;"><br>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-30">
                <h2>UNET DONGLE</h2>
                <div class="input-states">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label for="received-AN203_ON_OFF_test" class="col-sm-6 control-label">AN203</label>
                      <div class="col-sm-6">
                        <input type="text" id="received-AN203_ON_OFF_test" class="form-control" readonly style="background-color: #ffffff;">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="received-unet_ip" class="col-sm-6 control-label">IP address</label>
                      <div class="col-sm-6">
                        <input type="text" id="received-unet_ip" class="form-control" readonly style="background-color: #ffffff;"><br>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="received-unet_time" class="col-sm-6 control-label">更新時間:</label>
                      <div class="col-sm-6">
                        <input type="text" id="received-unet_time" class="form-control"  readonly style="background-color: #ffffff;"><br>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <button id="start-btn" class="btn start-btn enabled">開始測試</button>
          <button id="stop-btn" class="btn default-color disabled">
            結束測試
          </button>
          <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <!-- End footer -->
      </div>
      <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/templates/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/templates/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/templates/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/templates/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/templates/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/templates/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/templates/js/lib/datamap/d3.min.js"></script>
    <script src="/templates/js/lib/datamap/topojson.js"></script>
    <script src="/templates/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="/templates/js/lib/datamap/datamap-init.js"></script>
    <script src="/templates/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/templates/js/lib/weather/weather-init.js"></script>
    <script src="/templates/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/templates/js/lib/owl-carousel/owl.carousel-init.js"></script>

    <script src="/templates/js/lib/chartist/chartist.min.js"></script>
    <script src="/templates/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="/templates/js/lib/chartist/chartist-init.js"></script>
    <!--Custom JavaScript -->
    <script src="/templates/js/custom.min.js"></script>
    <script>
      const socket = io();

      var logEntries = [];

      function logGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText =
          logs["time"] +
          "   " +
          logs["device"] +
          "   " +
          logs["command"] +
          "  " +
          logs["status"] +
          "  " +
          logs["detect_axis"];
        newLogEntry.textContent = logText;
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function startGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs["time"] + "   " + logs["device"];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add("highlight-red");
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function endGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs["time"] + "   " + logs["device"];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add("highlight-red");
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function connectfailGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs["time"] + "   " + logs["device"];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add("highlight-red");
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function reconnectGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs["time"] + "   " + logs["device"];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add("highlight-green");
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function detectGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText =
          logs["time"] +
          "   " +
          logs["device"] +
          "   " +
          logs["command"] +
          "  " +
          logs["status"] +
          "  " +
          logs["detect_axis"];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add("highlight-purple");
        logDiv.appendChild(newLogEntry);
        logDiv.scrollTop = logDiv.scrollHeight;
        logEntries.push(logs);
      }

      function downloadLog() {
        var worksheet = XLSX.utils.json_to_sheet(logEntries);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Log");
        XLSX.writeFile(workbook, "log.xlsx");
      }

      function clearLog() {
        var logDiv = document.getElementById("log");
        logDiv.innerHTML = "<p>時間  裝置  指令  狀態  操作者</p>";
        logEntries = [];
      }

      let isTesting = false;
      let isPaused = false;

      const startBtn = document.getElementById("start-btn");
      const stopBtn = document.getElementById("stop-btn");

      startBtn.addEventListener("click", () => {
        if (!isTesting) {
          // Start testing
          var logDiv = document.getElementById("log");
          logDiv.innerHTML = "<p>時間  裝置  指令  狀態  操作者</p>";
          logEntries = [];
          socket.emit("start_processing");
          startBtn.textContent = "暫停測試";
          startBtn.classList.remove("enabled");
          startBtn.classList.add("pause-btn");
          stopBtn.classList.remove("enabled");
          stopBtn.classList.add("disabled");
          if (stopBtn.classList.contains("changed-color")) {
            stopBtn.classList.remove("changed-color");
            stopBtn.classList.add("default-color");
          }
          isTesting = true;
          isPaused = false;
        } else if (!isPaused) {
          // Pause testing
          startBtn.textContent = "繼續測試";
          startBtn.classList.remove("pause-btn");
          startBtn.classList.add("enabled");
          stopBtn.classList.remove("disabled");
          stopBtn.classList.add("enabled");
          if (stopBtn.classList.contains("default-color")) {
            stopBtn.classList.remove("default-color");
            stopBtn.classList.add("changed-color");
          }
          isPaused = true;
          socket.emit("pause_processing");
        } else {
          // Continue testing
          startBtn.textContent = "暫停測試";
          startBtn.classList.remove("enabled");
          startBtn.classList.add("pause-btn");
          stopBtn.classList.remove("enabled");
          stopBtn.classList.add("disabled");
          if (stopBtn.classList.contains("changed-color")) {
            stopBtn.classList.remove("changed-color");
            stopBtn.classList.add("default-color");
          }
          isPaused = false;
          socket.emit("continue_processing");
        }
      });

      stopBtn.addEventListener("click", () => {
        if (isPaused) {
          // Stop testing
          socket.emit("stop_processing");
          startBtn.textContent = "再測一次";
          startBtn.classList.remove("pause-btn", "enabled");
          startBtn.classList.add("start-btn");
          stopBtn.classList.remove("enabled");
          stopBtn.classList.add("disabled");
          if (stopBtn.classList.contains("changed-color")) {
            stopBtn.classList.remove("changed-color");
            stopBtn.classList.add("default-color");
          }
          isTesting = false;
          isPaused = false;
        }
      });

      socket.on("update_result", (data) => {
        console.log("Update result:", data);
        var serverType = data.server_type;

        if (serverType === "arm_server") {
          document.getElementById("received-arm_servo_1").value =
            data.servo_dict.servo_1;
          document.getElementById("received-arm_servo_2").value =
            data.servo_dict.servo_2;
          document.getElementById("received-arm_servo_3").value =
            data.servo_dict.servo_3;
          document.getElementById("received-arm_servo_4").value =
            data.servo_dict.servo_4;
          document.getElementById("received-arm_servo_5").value =
            data.servo_dict.servo_5;
          document.getElementById("received-arm_servo_6").value =
            data.servo_dict.servo_6;
          document.getElementById("received-arm_temperature").value =
            data.temperature;
          document.getElementById("received-arm_humidity").value =
            data.humidity;
          document.getElementById("received-arm_ip_address").value =
            data.ip_address;
          document.getElementById("received-arm_detect").value = data.detect;
          document.getElementById("received-arm_set_servo").value =
            data.set_servo;
          document.getElementById("received-arm_time").value =
            data.receivedtime;
          logGenerate(data.logs);
        }

        if (serverType === "dut_server") {
          document.getElementById("received-servo_1").value =
            data.servo_dict.servo_1;
          document.getElementById("received-servo_2").value =
            data.servo_dict.servo_2;
          document.getElementById("received-servo_3").value =
            data.servo_dict.servo_3;
          document.getElementById("received-servo_4").value =
            data.servo_dict.servo_4;
          document.getElementById("received-servo_5").value =
            data.servo_dict.servo_5;
          document.getElementById("received-servo_6").value =
            data.servo_dict.servo_6;
          document.getElementById("received-temperature").value =
            data.temperature;
          document.getElementById("received-humidity").value = data.humidity;
          document.getElementById("received-ip_address").value =
            data.ip_address;
          document.getElementById("received-detect").value = data.detect;
          document.getElementById("received-set_servo").value = data.set_servo;
          document.getElementById("received-time").value = data.receivedtime;
          logGenerate(data.logs);
        }

        if (serverType === "sb_server") {
          document.getElementById("received-target_distance").value =
            data.location.target_distance;
          document.getElementById("received-direction").value =
            data.location.direction;
          document.getElementById("received-sb_time").value = data.sb_time;
          document.getElementById("received-sb_ip").value = data.sb_ip;
          logGenerate(data.logs);
        }

        if (serverType === "unet_server") {
          document.getElementById("received-set_MC026_binding").value =
            data.set_MC026_binding;
          document.getElementById("received-AN203_ON_OFF_test").value =
            data.AN203_ON_OFF_test;
          document.getElementById("received-unet_time").value = data.unet_time;
          document.getElementById("received-unet_ip").value = data.unet_ip;
          logGenerate(data.logs);
        }
      });

      socket.on("update_detect", (data) => {
        console.log("Update detect:", data);
        detectGenerate(data);
      });

      socket.on("connection_fail", (data) => {
        console.log("Connection fail:", data);
        connectfailGenerate(data);
      });

      socket.on("reconnection", (data) => {
        console.log("Reconnection:", data);
        reconnectGenerate(data);
      });

      socket.on("start_button", (data) => {
        startGenerate(data);
      });
      socket.on("show_popup", (data) => {
        alert(`服务器 ${data.server} ${data.status}`);
      });

      socket.on("end_button", (data) => {
        endGenerate(data);
        startBtn.textContent = "再測一次";
        startBtn.classList.remove("pause-btn", "enabled");
        startBtn.classList.add("start-btn");
        stopBtn.classList.remove("enabled");
        stopBtn.classList.add("disabled");
        if (stopBtn.classList.contains("changed-color")) {
          stopBtn.classList.remove("changed-color");
          stopBtn.classList.add("default-color");
        }
        isTesting = false;
        isPaused = false;
      });
      socket.on("show_popup", (data) => {
        alert(`服务器 ${data.server} ${data.status}`);
      });

      document.addEventListener("DOMContentLoaded", function () {
        var dropdownToggle = document.querySelector(
          ".nav-link.dropdown-toggle"
        );
        var dropdownMenu = document.querySelector(".dropdown-menu");
        var closePopupButton = document.getElementById("closePopup");

        // Show the dropdown menu when the button is clicked
        dropdownToggle.addEventListener("click", function () {
          dropdownMenu.classList.toggle("show");
        });

        // Close the dropdown menu when the "X" button is clicked
        closePopupButton.addEventListener("click", function () {
          dropdownMenu.classList.remove("show");
          // Simulate clicking the dropdown toggle button
          dropdownToggle.click();
        });
      });

      // document.addEventListener("DOMContentLoaded", function () {
      //   const socket = io("http://192.168.15.113:5000");

      //   setInterval(() => {
      //     socket.emit("page_still_active");
      //   }, 100);
      // });
    </script>
  </body>
</html>
