<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>操作面板</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        h1 {
            font-size: 24px;
            margin-top: 20px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .panel {
            flex: 1;
            min-width: 300px;
        }
        label {
            display: inline-block;
            width: 150px;
            margin-bottom: 10px;
        }
        input[type="text"], input[type="number"] {
            width: 200px;
            padding: 5px;
            margin-bottom: 10px;
        }
        input[readonly] {
            background-color: #f2f2f2;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
        }
        .button-container {
            margin-top: 20px;
            text-align: center;
        }
        .led {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
        }
        .led.green {
            background-color: green;
        }
        .led.red {
            background-color: red;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .highlight-purple {
    color: purple; /* 紫色字体 */
}

        .highlight-red {
    color: red; /* 红色字体 */
}

        .highlight-green {
    color: green; /* 綠色字体 */
}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <div class="led green" id="ledIndicator"></div>
    <h1>帳號: {{username}} 登入時間: {{formatted_time}} IP: {{local_ip}}</h1>


        <div class="panel">
            <h1>dut_server_status</h1>
            <form>
                <label for="received-servo_1">Servo 1:</label>
                <input type="text" id="received-servo_1" readonly><br>
                <label for="received-servo_2">Servo 2:</label>
                <input type="text" id="received-servo_2" readonly><br>
                <label for="received-servo_3">Servo 3:</label>
                <input type="text" id="received-servo_3" readonly><br>
                <label for="received-servo_4">Servo 4:</label>
                <input type="text" id="received-servo_4" readonly><br>
                <label for="received-servo_5">Servo 5:</label>
                <input type="text" id="received-servo_5" readonly><br>
                <label for="received-servo_6">Servo 6:</label>
                <input type="text" id="received-servo_6" readonly><br>
                <label for="received-temperature">Temperature:</label>
                <input type="text" id="received-temperature" readonly><br>
                <label for="received-humidity">Humidity:</label>
                <input type="text" id="received-humidity" readonly><br>
                <label for="received-ip_address">IP Address:</label>
                <input type="text" id="received-ip_address" readonly><br>
                <label for="received-detect">Detect:</label>
                <input type="text" id="received-detect" readonly><br>
                <label for="received-set_servo">Communication:</label>
                <input type="text" id="received-set_servo" readonly><br>
                <label for="received-time">更新時間:</label>
                <input type="text" id="received-time" readonly><br>
            </form>
        </div>
    </div>
    

        <div class="panel">
            <h1>arm_server_status</h1>
            <form>
                <label for="received-arm_servo_1">Servo 1:</label>
                <input type="text" id="received-arm_servo_1" readonly><br>
                <label for="received-arm_servo_2">Servo 2:</label>
                <input type="text" id="received-arm_servo_2" readonly><br>
                <label for="received-arm_servo_3">Servo 3:</label>
                <input type="text" id="received-arm_servo_3" readonly><br>
                <label for="received-arm_servo_4">Servo 4:</label>
                <input type="text" id="received-arm_servo_4" readonly><br>
                <label for="received-arm_servo_5">Servo 5:</label>
                <input type="text" id="received-arm_servo_5" readonly><br>
                <label for="received-arm_servo_6">Servo 6:</label>
                <input type="text" id="received-arm_servo_6" readonly><br>
                <label for="received-arm_temperature">Temperature:</label>
                <input type="text" id="received-arm_temperature" readonly><br>
                <label for="received-arm_humidity">Humidity:</label>
                <input type="text" id="received-arm_humidity" readonly><br>
                <label for="received-arm_ip_address">IP Address:</label>
                <input type="text" id="received-arm_ip_address" readonly><br>
                <label for="received-arm_detect">Detect:</label>
                <input type="text" id="received-arm_detect" readonly><br>
                <label for="received-arm_set_servo">Communication:</label>
                <input type="text" id="received-arm_set_servo" readonly><br>
                <label for="received-arm_time">更新時間:</label>
                <input type="text" id="received-arm_time" readonly><br>
            </form>
        </div>



    
            <h1>step_server_status</h1>
            <form>
                <label for="received-real_position">距離原點:</label>
                <input type="number" id="received-real_position" readonly><br>
                <label for="received-step_time">更新時間:</label>
                <input type="text" id="received-step_time" readonly><br>
                <label for="received-step_ip">IP 位置:</label>
                <input type="text" id="received-step_ip" readonly><br>
            </form>
 
   
        <div class="panel">
            <h1>unet_server_status</h1>
            <form>
                <label for="received-set_MC026_binding">AN203學碼:</label>
                <input type="text" id="received-set_MC026_binding" readonly><br>
                <label for="received-AN203_ON_OFF_test">AN203狀態:</label>
                <input type="text" id="received-AN203_ON_OFF_test" readonly>
                <label for="received-AN203_ON_OFF_test">(ON or OFF)</label><br>
                <label for="received-unet_time">更新時間:</label>
                <input type="text" id="received-unet_time" readonly><br>
                <label for="received-unet_ip">IP 位置:</label>
                <input type="text" id="received-unet_ip" readonly><br>
            </form>
        </div>

    <button id="startButton">开始处理</button>

    <div id="dynamic-tables"></div>

    <h1>操作日誌</h1>
    <div id="log">
        <p>時間 裝置 指令 狀態 操作者</p>
    </div>
    

    
    <div class="button-container">
        <button onclick="downloadLog()">下載記錄</button>
        <button onclick="clearLog()">清除</button>
    </div>
</body>
    <script>

    const socket = io();

socket.on('led_trigger', function(data) {
    if (data.status === 'triggered') {
        changeLEDColor();
    }
});

function changeLEDColor() {
    const led = document.getElementById('ledIndicator');
    led.classList.add('red');
    setTimeout(() => {
        led.classList.remove('red');
    }, 3000); // 3000 milliseconds = 3 seconds
}


      var logEntries = [];

      function logGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs['time'] + '   '+ logs['device'] +'   '+logs['command'] +'  '+logs['status'] + '  ' + logs['operator']  ;
        newLogEntry.textContent = logText;
        logDiv.appendChild(newLogEntry);
        logEntries.push(logs);
      }

      function startGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs['time'] + '   '+ logs['device'];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add('highlight-red');
        logDiv.appendChild(newLogEntry);
        logEntries.push(logs);
      }
      
      function connectfailGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs['time'] + '   '+ logs['device'];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add('highlight-red');
        logDiv.appendChild(newLogEntry);
        logEntries.push(logs);
      }

      function reconnectGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
        var logText = logs['time'] + '   '+ logs['device'];
        newLogEntry.textContent = logText;
        newLogEntry.classList.add('highlight-green');
        logDiv.appendChild(newLogEntry);
        logEntries.push(logs);
      }

      function detectGenerate(logs) {
        var logDiv = document.getElementById("log");
        var newLogEntry = document.createElement("p");
       var logText = logs['time'] + '   '+ logs['device'] +'   '+logs['command'] +'  '+logs['status'] + '  ' + logs['operator']  ;
        newLogEntry.textContent = logText;
        newLogEntry.classList.add('highlight-purple');
        logDiv.appendChild(newLogEntry);
        logEntries.push(logs);
      }

      function downloadLog() {
        var worksheet = XLSX.utils.json_to_sheet(logEntries);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Log");

        XLSX.writeFile(workbook, "log.xlsx");
      }

      function clearLog() {
        var logDiv = document.getElementById("log");
        logDiv.innerHTML = "<p>時間  裝置  指令  狀態  操作者</p>";
        logEntries = [];
      }
      
      function dut_server(event) {
            event.preventDefault();
            const data = { servo_1: document.getElementById('servo_1').value,
                           servo_2: document.getElementById('servo_2').value,
                           servo_3: document.getElementById('servo_3').value,
                           servo_4: document.getElementById('servo_4').value,
                           servo_5: document.getElementById('servo_5').value,
                           servo_6: document.getElementById('servo_6').value
            };

            fetch('/api/dut', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
            document.getElementById('received-servo_1').value = data.servo_dict.servo_1;
            document.getElementById('received-servo_2').value = data.servo_dict.servo_2;
            document.getElementById('received-servo_3').value = data.servo_dict.servo_3;
            document.getElementById('received-servo_4').value = data.servo_dict.servo_4;
            document.getElementById('received-servo_5').value = data.servo_dict.servo_5;
            document.getElementById('received-servo_6').value = data.servo_dict.servo_6;
            document.getElementById('received-temperature').value = data.temperature;
            document.getElementById('received-humidity').value = data.humidity;
            document.getElementById('received-ip_address').value = data.ip_address;
            document.getElementById('received-detect').value = data.detect;
            document.getElementById('received-set_servo').value = data.set_servo;                
            document.getElementById('received-time').value = data.receivedtime;
            logGenerate(data.logs);
        });
        }

        
        function arm_server(event) {
            event.preventDefault();
            const data = { servo_1: document.getElementById('arm_servo_1').value,
                           servo_2: document.getElementById('arm_servo_2').value,
                           servo_3: document.getElementById('arm_servo_3').value,
                           servo_4: document.getElementById('arm_servo_4').value,
                           servo_5: document.getElementById('arm_servo_5').value,
                           servo_6: document.getElementById('arm_servo_6').value
            };

            fetch('/api/arm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(received_data => {
            document.getElementById('received-arm_servo_1').value = received_data.servo_dict.servo_1;
            document.getElementById('received-arm_servo_2').value = received_data.servo_dict.servo_2;
            document.getElementById('received-arm_servo_3').value = received_data.servo_dict.servo_3;
            document.getElementById('received-arm_servo_4').value = received_data.servo_dict.servo_4;
            document.getElementById('received-arm_servo_5').value = received_data.servo_dict.servo_5;
            document.getElementById('received-arm_servo_6').value = received_data.servo_dict.servo_6;
            document.getElementById('received-arm_temperature').value = received_data.temperature;
            document.getElementById('received-arm_humidity').value = received_data.humidity;
            document.getElementById('received-arm_ip_address').value = received_data.ip_address;
            document.getElementById('received-arm_detect').value = received_data.detect;
            document.getElementById('received-arm_set_servo').value = received_data.set_servo;                
            document.getElementById('received-arm_time').value = received_data.receivedtime;
            logGenerate(received_data.logs);
        });
        }


        function sendData(event) {
            event.preventDefault();
            const data = { real_position: parseFloat(document.getElementById('real_position').value) };

            fetch('/api/step', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
            document.getElementById('received-real_position').value = data.real_position;
            document.getElementById('received-step_time').value = data.step_time;
            document.getElementById('received-step_ip').value = data.step_ip;
            logGenerate(data.logs);
        });
        }


        function sendButtonPress(buttonId) {
            fetch('/api/button', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ button_id: buttonId })
            })
            .then(response => response.json())
            .then(received_data => {
                document.getElementById('received-set_MC026_binding').value = received_data.set_MC026_binding;
                document.getElementById('received-AN203_ON_OFF_test').value = received_data.AN203_ON_OFF_test;
                document.getElementById('received-unet_time').value = received_data.unet_time;
                document.getElementById('received-unet_ip').value = received_data.unet_ip;
                logGenerate(received_data.logs);
            });
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();

            socket.on('update_detect', (data) => {
                detectGenerate(data)
            });
            socket.on('start_button', (data) => {
                startGenerate(data)
            });
            socket.on('connection_fail', (data) => {
                connectfailGenerate(data)
            });
            socket.on('reconnection', (data) => {
                reconnectGenerate(data)
            });
            socket.on('show_popup', (data) => {
                alert(`服务器 ${data.server} ${data.status}`);
            });
            
            socket.on('update_result', function(data) {
                var serverType = data.server_type;

                // 根据服务器类型设置相应的输入框的值
                if (serverType === 'arm_server') {
                    document.getElementById('received-arm_servo_1').value = data.servo_dict.servo_1;
                    document.getElementById('received-arm_servo_2').value = data.servo_dict.servo_2;
                    document.getElementById('received-arm_servo_3').value = data.servo_dict.servo_3;
                    document.getElementById('received-arm_servo_4').value = data.servo_dict.servo_4;
                    document.getElementById('received-arm_servo_5').value = data.servo_dict.servo_5;
                    document.getElementById('received-arm_servo_6').value = data.servo_dict.servo_6;
                    document.getElementById('received-arm_temperature').value = data.temperature;
                    document.getElementById('received-arm_humidity').value = data.humidity;
                    document.getElementById('received-arm_ip_address').value = data.ip_address;
                    document.getElementById('received-arm_detect').value = data.detect;
                    document.getElementById('received-arm_set_servo').value = data.set_servo;                
                    document.getElementById('received-arm_time').value = data.receivedtime;
                    logGenerate(data.logs);
                }

                if (serverType === 'dut_server') {
                    document.getElementById('received-servo_1').value = data.servo_dict.servo_1;
                    document.getElementById('received-servo_2').value = data.servo_dict.servo_2;
                    document.getElementById('received-servo_3').value = data.servo_dict.servo_3;
                    document.getElementById('received-servo_4').value = data.servo_dict.servo_4;
                    document.getElementById('received-servo_5').value = data.servo_dict.servo_5;
                    document.getElementById('received-servo_6').value = data.servo_dict.servo_6;
                    document.getElementById('received-temperature').value = data.temperature;
                    document.getElementById('received-humidity').value = data.humidity;
                    document.getElementById('received-ip_address').value = data.ip_address;
                    document.getElementById('received-detect').value = data.detect;
                    document.getElementById('received-set_servo').value = data.set_servo;                
                    document.getElementById('received-time').value = data.receivedtime;
                    logGenerate(data.logs);
                }

                if (serverType === 'step_server') {
                    document.getElementById('received-real_position').value = data.real_position;
                    document.getElementById('received-step_time').value = data.step_time;
                    document.getElementById('received-step_ip').value = data.step_ip;
                    logGenerate(data.logs);
                }

                if (serverType === 'unet_server') {
                    document.getElementById('received-set_MC026_binding').value = data.set_MC026_binding;
                    document.getElementById('received-AN203_ON_OFF_test').value = data.AN203_ON_OFF_test;
                    document.getElementById('received-unet_time').value = data.unet_time;
                    document.getElementById('received-unet_ip').value = data.unet_ip;
                    logGenerate(data.logs);
                }
            });

            document.getElementById('startButton').addEventListener('click', function() {
                socket.emit('start_processing');
            });
        });

    </script>
</body>
</html>
